@{
    var jogadorInicial = ViewBag.JogadorInicial;
    var jogadorFinal = ViewBag.JogadorFinal;

    var absd = "as" ;
}

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>HP</th>
            <th>MP</th>
            <th>Forca</th>
            <th>Defesa</th>
            <th>Experiencia</th>
            <th>Moedas</th>
            <th>ArmaID</th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@jogadorInicial.JogadorId</td>
            <td>@jogadorInicial.Nome</td>
            <td>@jogadorInicial.HpMax</td>
            <td>@jogadorInicial.MpMax</td>
            <td>@jogadorInicial.Forca</td>
            <td>@jogadorInicial.Defesa</td>
            <td>@jogadorInicial.Experiencia</td>
            <td>@jogadorInicial.Moedas</td>
            <td>@jogadorInicial.ArmaId</td>
        </tr>
        <tr>
            <td>@jogadorFinal.JogadorId</td>
            <td>@jogadorFinal.Nome</td>
            <td>@jogadorFinal.HpMax</td>
            <td>@jogadorFinal.MpMax</td>
            <td>@jogadorFinal.Forca</td>
            <td>@jogadorFinal.Defesa</td>
            <td>@jogadorFinal.Experiencia</td>
            <td>@jogadorFinal.Moedas</td>
            <td>@jogadorFinal.ArmaId</td>
        </tr>

    </tbody>
</table>